{% extends "users/base.html" %}

{% block head_content %}
<title>Pinterest sign up</title>
{% endblock %}

{% block container %}

    <form action="{% url 'users:signup' %}" method="POST">
        {% csrf_token %}

        {% if error %}
            <p class="alert alert-danger">{{ error }}</p>
        {% endif %}

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" name="username" required="required"/>
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" name="password" required="required"/>
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password confirmation" name="password_confirmation" required="required"/>
        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="First name" name="first_name" required="required"/>
        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Last name" name="last_name" required="required"/>
        </div>

        <div class="form-group">
            <input class="form-control" type="email" placeholder="Email" name="email" required="required"/>
        </div>

        <button class="btn btn-danger btn-block mt-5" type="submit">Register!</button>

    </form>

    <script>
        function validate_passwd() {

            let p1 = document.getElementById("password").value;
            let p2 = document.getElementById("password_confirmation").value;

            let espacios = false;
            let cont = 0;
            
            if (p1.length == 0 || p2.length == 0) {
                alert("Los campos de la password no pueden quedar vacios");
                return false;
            }

            while (!espacios && (cont < p1.length)) {
                if (p1.charAt(cont) == " ")
                    espacios = true;
                cont++;
            }
            
            if (espacios) {
                alert ("La contraseña no puede contener espacios en blanco");
                return false;
            }

            if (p1 != p2) {
                alert("Las passwords deben de coincidir");
                return false;
            } else {
                return true; 
            }
        }
    </script>

{% endblock %}
